*
!*/
!.gitignore

!dark-mode.d/**
!light-mode.d/**
!hypr/**
!waybar/**
!swaync/**
!kitty/**
!wpaperd/**
!nvim/**
!tmux/**
tmux/plugins/
!tmux/tmux.conf
!fuzzel/**
!fuzzel/fuzzel.ini
!zsh/**
!mako/**
!ansible-tasks/**

/emacs/
/nvim/
JetBrains/
