* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(239, 241, 245, 0.90);
}

button {
	border-radius: 0;
	border-color: #fe640b;
	text-decoration-color: #4c4f69;
	color: #4c4f69;
	background-color: #e6e9ef;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(209, 211, 220);
	outline-style: none;
}
