@import "latte.css";

#lock {
  background-image: url("/home/tommaso/.config/wlogout/icons/latte/lock.svg");
}

#logout {
  background-image: url("/home/tommaso/.config/wlogout/icons/latte/logout.svg");
}

#suspend {
  background-image: url("/home/tommaso/.config/wlogout/icons/latte/suspend.svg");
}

#hibernate {
  background-image: url("/home/tommaso/.config/wlogout/icons/latte/hibernate.svg");
}

#shutdown {
  background-image: url("/home/tommaso/.config/wlogout/icons/latte/shutdown.svg");
}

#reboot {
  background-image: url("/home/tommaso/.config/wlogout/icons/latte/reboot.svg");
}
